# Python cache & env
__pycache__/
*.pyc
.venv/
.env

# Notebook junk
.ipynb_checkpoints/

# OS/editor
.DS_Store
.vscode/
.idea/

# Data (raw & large binaries)
data_raw/**
!data_raw/README.md
*.tif
*.tiff
*.zip
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.geojson
*.pdf